#contenedorCarrito {
    height: 70vh;
}

.listadoCarrito {
    height: 90%;
    flex: 1;
    overflow-y: auto;
    padding: 0;

}

.botonesCarrito {
    height: 2rem;
    margin-top: auto;
}

.totalLabel{
    margin-top: auto;
    width: fit-content;
    margin-left: 75%;
    background-color: aqua;
}

.casillaProducto{
    height: 30%;
    background-color: bisque;
}

.imgProducto{
    max-width: 200px;
    width: 100%;
}

.botonDeCantidad{
    width: 60%;
    height: 50%;
    padding: 1px !important;
    font-size: 15px !important;
}

.controlarCantidad{
    background-color: brown;
}

.snes-container{
    padding: 5px !important;
    margin: 5px !important;

}