body {
  background-image: url(../img/fondo1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

.login-box {
  background-color: #eb763b !important;
  border: 0.25rem solid rgb(26, 26, 66);
  border-radius: 0.9rem;
  padding: 1.9rem;
  max-width: 21.9rem;
  text-align: center;
  margin: 3.8rem auto;
  height: fit-content;
  margin-top: 2vh;
}

#login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#login-form label {
  text-align: left;
  margin-top: 0.3rem;
  font-weight: bold;
  color: white;
}

#login-form input {
  width: 100%;
  padding: 0.7rem;
  margin: 0.7rem 0;
  border: none;
  border-radius: 0.3rem;
  font-size: 0.8em;
}

#botonIngresar {
  margin-top: 0.8em;
  padding: 0.6em;
  border-radius: 8px;
  background-color: rgb(248, 154, 38);
  font-size: 90% !important;
}

footer.text-muted {
  font-size: 0.8rem;
  margin-top: 12vh;
}