body {
  background-image: url(../img/pantallaproductos.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right;
}

label {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

#contenedorFiltroYProductos {
  display: flex;
}

#tituloOrdenar {
  margin-top: 0.5em;
}

#contenedorProductos {
  padding-right: 0;
}

#contenedorBuscador {
  margin-top: 1em;
}

#contenedorBuscador input {
  padding: 0.5em;
  margin-bottom: 1em;
  border-radius: 0.3em;
  border: 2px solid orange;
}

#filtros {
  flex: 0 0 250px;
  background-color: rgba(179, 75, 31, 0.5);
  padding: 1em;
  border-radius: 0.5em;
  height: fit-content;
  margin-top: 2vh;
}

.titulo {
  font-size: 2.5em;
  font-weight: 600;
  margin-left: 8%;
  margin-top: 0.5em;
}

.botonesFiltro {
  margin-top: 0.8em;
  padding: 0.6em;
  border-radius: 8px;
  background-color: rgb(217, 109, 51);
  border: 0;
}

.casillaProducto {
  display: flex;
  flex-direction: row;
  background-color: rgba(179, 75, 31, 0.5);
  align-items: flex-start;
  padding-left: 1em;
  border-radius: 0.3em;
  margin-top: 2%;
}

.imagenP {
  width: 10em;
  object-fit: cover;
  border-radius: 0.5em;
  margin-right: 1em;
  margin-top: 0.7em;
}

.general {
  display: flex;
  flex-direction: column;
  flex-grow: 0.95;
}

.topRow {
  display: flex;
  margin-top: auto;
  flex-direction: row;
}

.bottomRow {
  display: flex;
  align-items: center;
  gap: 1em;
}

.leftTop {
  display: flex;
  gap: 0.7em;
}

.nombreP,
.precioP {
  font-size: 0.8em;
  font-weight: 600;
  background-color: rgba(205, 140, 107, 0.5);
  padding: 0.8em;
  border-radius: 0.5em;
  margin-top: auto;
  flex-shrink: 0;
  width: fit-content;
}

.cantidadVendidosP {
  font-size: 0.8em;
  font-weight: 600;
  background-color: rgba(205, 140, 107, 0.5);
  padding: 0.8em;
  margin: 0.8em;
  border-radius: 0.5em;
  width: fit-content;
  margin-left: auto;
  white-space: nowrap;
}

.descripcionP {
  display: flex;
  flex: 1;
  font-size: 0.8em;
  font-weight: 600;
  background-color: rgba(205, 140, 107, 0.5);
  margin-top: 0.75em;
  padding: 0.8em;
  border-radius: 0.5em;
}

.botonCarrito {
  width: fit-content;
  height: fit-content;
  margin-right: 0.7em;
  border-radius: 20%;
}

.carroImg {
  width: 1.3em;
}

@media (max-width: 600px) {
  .casillaProducto {
    flex-direction: column;
    padding: 0.5em;
    gap: 0.1em;
    align-items: center;
    text-align: center;
  }

  .cantidadVendidosP {
    margin: 0.8em auto;
  }

  .descripcionP {
    font-size: 0.7em;
  }

  .leftTop,
  .topRow {
    flex-direction: column;
    align-items: center;
    gap: 0.2em;
    margin: 2px;
  }

  .imagenP {
    width: 7.5em;
    margin: 0.5em auto;
  }

  .titulo {
    font-size: 1.5em;
    margin-left: 7%;
  }
}