body {
  background-color: rgb(255, 231, 184) !important;
  background-size: cover !important;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  font-size: smaller !important;
  display: flex;
  flex-direction: column;
  height: 100%;
}

/*Card de información*/

.card-body {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  width: 100%;
  height: 100%;
}

#producto {
  margin-top: 5em;
  margin-left: 4em;
  margin-right: 4em;
  background-color: #d15e17;
  align-items: center;
  text-align: center;
  border-radius: 1em;
}

#productoBlock {
  background-color: rgb(247, 140, 53) !important;
}

.snes-blockquote {
  max-width: 100%;
  overflow-wrap: break-word;
  padding: 0 !important;
  box-sizing: border-box;
}

#nombreYCategoriaInfo {
  background-color: #eb763b !important;
  width: 100%;
  color: black;
}

#productCategory {
  font-weight: 500;
  margin-top: 0.2em;
}

#productInfo {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 3em;
  gap: 1em;
  flex: 1;
}

#carouselExampleControls {
  margin-top: 1em;
  margin-left: 2em;
  display: flex;
  align-items: center;
  flex: 1;
}

#descripcionInfo {
  background-color: rgb(255, 176, 119, 0.9);
  color: black;
  padding-top: 1em !important;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 1em;
}

#descripcionInfo p {
  margin-top: 1em;
  margin-bottom: 0;
}

#cantidadVendidosInfo {
  background-color: rgb(255, 176, 119, 0.9);
  color: black;
  padding: 0.1em;
  width: 100%;
  height: 50px;
  border-radius: 1em;
  font-weight: 500;
  font-size: larger;
}

#bottomRightInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4em;
  width: 100%;
}

#precioInfo,
#comprarInfo {
  flex: 1;
  height: 70px;
  border-radius: 1em;
}

#precioInfo {
  background-color: rgb(255, 176, 119, 0.9);
  color: black;
  padding: 0;
  border-radius: 1em;
}

#comprarInfo {
  font-size: larger;
  font-weight: 500;
  width: 100%;
  height: 100%;
  border-radius: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

#comprarInfo button {
  background-color: rgb(255, 141, 3);
  color: black;
  width: 100%;
}

/*Zona de calificar*/

#calificarProducto {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eb763b;
  color: black;
  margin: 4em auto 2em auto;
  max-width: 90vw;
}

#tituloYEstrellas {
  display: flex;
  gap: 3vw;
  margin: 1.5em;
  margin-top: 2em;
  padding: 0.5em;
}

#estrellasParaCalificar {
  display: flex;
  gap: 2vw;
  position: relative;
  top: -8px;
}

#areaParaComentar {
  display: block;
  margin: auto;
  width: 92%;
  align-items: center;
}

#calificarProducto button {
  color: black;
  width: fit-content;
  display: block;
  background-color: white;
  font-size: larger;
  margin: 1.8em auto;
}

#enviarComentario {
  width: 100%;
}

/*Reseñas*/

#divCalificaciones {
  background-color: rgb(255, 176, 119, 0.9);
  color: black;
  margin: 3em auto 4em auto;
  text-align: center;
  border-radius: 1em;
  max-width: 90vw;
  box-sizing: border-box;
}

#divCalificaciones h2 {
  padding-top: 0.7em;
}

#calificaciones {
  margin-top: 1em;
  padding: 1em;
}

#divTopComentario {
  background-color: #eb763b;
  display: flex;
  flex-direction: row;
  width: 100%;
}

#divBottomComentario {
  background-color: #E66B2E !important;
}

.checked {
  color: rgb(218, 218, 1);
}

.star-rating {
  direction: rtl;
  display: inline-block;
  cursor: pointer;
}

.star-rating input {
  display: none;
}

.star-rating label {
  color: #ffffff;
  font-size: 30px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.star-rating label:hover,
.star-rating label:hover~label,
.star-rating input:checked~label {
  color: rgb(218, 218, 1);
}


/*Productos relacionados*/

#productosRelacionados {
  background-color: #eb763b;
  color: black;
  max-width: 90vw;
  width: fit-content;
  margin: 1em auto 4em auto;
}

#productosRelacionados h2 {
  padding: 0.5em;
}

#productosR {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3em;
  padding: 1.5em;
  flex-wrap: wrap;
}

.casillaProductoR {
  background-color: rgb(255, 176, 119) !important;
  box-sizing: border-box;
  width: fit-content !important;
}

.imagenP {
  width: 60%;
  border-radius: 20px;
}

.nombreP {
  color: black !important;
  margin-top: 1em;
}

/*footer*/

.text-muted {
  background-color: #eb763b !important;
  color: black !important;
  padding-top: 1em;
  margin-top: auto !important;
}

/* Esto siguiente es solo para animar el error al calificar sin comentar o seleccionar score, no es necesario cambiarlo con los cambios de resolucion */
@keyframes flash-area {
  0% {
    background-color: rgb(252, 177, 177);
  }

  100% {
    background-color: white;
  }
}

@keyframes flash-estrellas {
  0% {
    color: rgb(255, 0, 0);
  }

  100% {
    color: rgb(255, 255, 255);
  }
}

.flash-error {
  animation: flash-area 1s ease-in-out 1;
}

.flash-estrellas-error {
  animation: flash-estrellas 1s ease-in-out 1;
}

/*responsives*/

@media screen and (max-width: 1024px) {

  #producto {
    margin-top: 3em;
    margin-left: 3em;
    margin-right: 3em;
  }

  .card-body {
    flex-direction: row;
  }

  #carouselExampleControls {
    margin-top: 1em;
    margin-left: 0.5em;
  }

  #productInfo {
    padding: 1em;
    margin-bottom: 0.5em;
    gap: 1em;
  }

  #descripcionInfo {
    min-height: 100px;
  }

  #descripcionInfo p {
    margin-top: 0.5em;
    font-size: larger;
  }

  #precioInfo {
    padding: 0.4em;
    border-radius: 1em;
  }

  #bottomRightInfo {
    gap: 1em;
  }

  #tituloYEstrellas {
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 2vw;
  }
}

@media (max-width: 808px) {

  #producto {
    margin-top: 2em;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 4em;
  }

  .card-body {
    flex-direction: column;
  }

  #carouselExampleControls {
    margin-top: 1em;
    margin-left: 0;
  }

  #productInfo {
    padding: 1em;
  }

  #descripcionInfo {
    min-height: 100px;
    width: fit-content;
  }

  #descripcionInfo p {
    margin-top: 1em;
  }

  #precioInfo {
    padding: 0.7em 0.7em 0em !important;
  }

  #bottomRightInfo {
    gap: 1em;
    flex-direction: column;
  }

  #calificarProducto {
    margin-top: 0;
  }

  #tituloYEstrellas {
    flex-direction: column;
  }

  #estrellasParaCalificar {
    align-self: center;
  }

  #divTopComentario {
    display: flex;
    flex-direction: column !important;
    padding: 2em;
    width: 100%;
  }

  #divBottomComentario {
    padding: 2em;
  }
}