#botonTheme{
    background-color: var(--color-boton-2);
    color: var(--color-letra);
    border-radius: 20px;
}


/*COLORES DEL MODO CLARO */
[data-theme="claro"]{
    /*No tocar estos que estan separados del resto*/
    --color-basico-fondo: rgb(255,255,255);
    --color-basico-muted: rgb(196, 196, 196);
    --productos-fondo: url(../img/pantallaproductos.jpg);
    --index-fondo: url('../img/cover_back.png');
    --login-fondo: url(../img/fondo-perfil.png);
    --perfil-fondo: url('../img/fondo-perfil.jpg');
    --categorias-fondo: url(../img/categoriesFondo-claro.png);
    --cart-fondo: url(../img/cartFondo-claro.png);
    --precio-up: url(../img/precio-arriba-claro.png);
    --precio-down: url(../img/precio-abajo-claro.png);
    --cart: url(../img/cart-claro.png);
    --tendencia: url(../img/tendencia-claro.png);



    --nav-color: rgb(64, 64, 64);
    --color-letra: rgb(0,0,0);
    --color-fondo: rgb(255, 231, 184);
    --color-boton: rgb(255, 141, 3);
    --color-boton-2: rgb(253, 253, 253);
    --color-casilla: #eb763b;
    --color-casilla-2: rgba(179, 75, 31, 0.281);
    --color-casilla-3: rgb(255, 176, 119, 0.9);
    --color-input:rgb(250, 250, 250);
    --color-bordes: rgb(0,0,0);
    --color-comentario: rgb(255, 133, 58, 0.6);
    --color-datos-producto: rgba(205, 140, 107, 0.5);
    --color-datos-producto-2: rgba(205, 140, 107, 0.5);
    --color-boton-quitar: rgba(191, 64, 9, 0.836);
    --color-boton-finalizar: rgba(255, 200, 0, 0.836);

}

/*COLORES DEL MODO OSCURO */
[data-theme="oscuro"]{
    /*No tocar estos que estan separados del resto*/
    --color-basico-fondo: rgb(0, 0, 0);
    --color-basico-muted: rgb(236, 236, 236);
    --productos-fondo: url(../img/fondo-prod-oscuro.jpg);
    --index-fondo: url('../img/cover_back-oscuro.png');
    --login-fondo: url(../img/fondo-perfil-oscuro.png);
    --perfil-fondo: url('../img/fondo-perfil-oscuro.jpg');
    --categorias-fondo: url(../img/categoriesFondo-oscuro.png);
    --cart-fondo: url(../img/cartFondo-oscuro.png);
    --precio-up: url(../img/precio-arriba-oscuro.png);
    --precio-down: url(../img/precio-abajo-oscuro.png);
    --cart: url(../img/cart-oscuro.png);
    --tendencia: url(../img/tendencia-oscuro.png);




    --nav-color: rgb(21, 21, 26);
    --color-letra: rgb(255, 255, 255);
    --color-fondo: rgba(2, 3, 36, 0.845);
    --color-boton: rgb(54, 60, 231);
    --color-boton-2: rgb(73, 84, 134);
    --color-boton-3: rgb(2, 4, 62);
    --color-casilla: #1f2072;
    --color-casilla-2: rgba(20, 22, 57, 0.5);
    --color-casilla-3: rgb(73, 84, 134);
    --color-input:rgb(89, 101, 152, 0.6);
    --color-bordes: rgb(0,0,0);
    --color-comentario: rgb(35, 25, 112);
    --color-datos-producto: rgba(73, 84, 134, 0.8);
    --color-datos-producto-2: rgba(14, 17, 122, 0.9);
    --color-boton-quitar: rgba(53, 68, 240, 0.836);
    --color-boton-finalizar: rgba(53, 68, 240, 0.836);

}