#botonTheme{
    background-color: var(--color-boton-2);
    color: var(--color-letra);
    border-radius: 20px;
}


/*COLORES DEL MODO CLARO */
[data-theme="claro"]{
    /*No tocar estos que estan separados del resto*/
    --color-basico-fondo: rgb(255,255,255);
    --color-basico-muted: rgb(196, 196, 196);
    --productos-fondo: url(../img/pantallaproductos.jpg);
    --index-fondo: url('../img/cover_back.png');
    --login-fondo: url(../img/fondo-perfil.png);




    --nav-color: rgb(64, 64, 64);
    --color-letra: rgb(0,0,0);
    --color-fondo: rgb(255, 231, 184);
    --color-boton: rgb(255, 141, 3);
    --color-boton-2: rgb(253, 253, 253);
    --color-casilla: #eb763b;
    --color-casilla-2: rgba(179, 75, 31, 0.281);
    --color-casilla-3: rgb(255, 176, 119, 0.9);
    --color-input:rgb(250, 250, 250);
    --color-bordes: rgb(0,0,0);
    --color-comentario: rgb(255, 133, 58, 0.6);
    --color-datos-producto: rgba(205, 140, 107, 0.5);
    --color-datos-producto-2: rgba(205, 140, 107, 0.5);

}

/*COLORES DEL MODO OSCURO */
[data-theme="oscuro"]{
    /*No tocar estos que estan separados del resto*/
    --color-basico-fondo: rgb(0, 0, 0);
    --color-basico-muted: rgb(236, 236, 236);
    --productos-fondo: url(../img/pantallaproductos-oscuro.jpg);
    --index-fondo: url('../img/cover_back-oscuro.png');
    --login-fondo: url(../img/fondo-perfil-oscuro.png);




    --nav-color: rgb(26, 23, 21);
    --color-letra: rgb(255, 255, 255);
    --color-fondo: rgba(36, 14, 2, 0.845);
    --color-boton: rgba(112, 54, 25);
    --color-boton-2: rgb(152, 110, 89);
    --color-boton-3: rgba(177, 122, 83, 0.9);
    --color-casilla: #723b1f;
    --color-casilla-2: rgba(19, 7, 2, 0.281);
    --color-casilla-3: rgba(177, 122, 83, 0.9);
    --color-input:rgb(152, 110, 89);
    --color-bordes: rgb(0,0,0);
    --color-comentario: rgb(112, 54, 25);
    --color-datos-producto: rgba(152, 110, 89);
    --color-datos-producto-2: rgb(112, 54, 25);

}